[submodule "source"]
	path = source
	url = ../source
	branch = master
[submodule "kitchen"]
	path = kitchen
	url = ../source
	branch = kitchen
[submodule "prebuilts/gcc/linux-x86/arm/arm-eabi-4.6"]
	path = prebuilts/gcc/linux-x86/arm/arm-eabi-4.6
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/arm/arm-eabi-4.6
